In [1]:
import pandas as pd 
import numpy as np

In [19]:
file = "netflix_titles_2021"
path = file+" csv"

In [20]:
df = pd.read_csv("netflix_titles_2021.csv.xls")
df

,ShipMode,Segment,Country,City,State,PostalCode,Region,Category,SubCategory,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,25.2480,3,0.20,4.1028
9990,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,91.9600,2,0.00,15.6332
9991,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,258.5760,2,0.20,19.3932
9992,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,29.6000,4,0.00,13.3200
9993,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,243.1600,2,0.00,72.9480

In [21]:
df.head(2)

,ShipMode,Segment,Country,City,State,PostalCode,Region,Category,SubCategory,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.96,2,0.0,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.94,3,0.0,219.5820

In [22]:
import mysql.connector

In [23]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
password="Khan",
database="ps")

In [24]:
mydb

In [25]:
mydb

In [26]:
mycursor = mydb.cursor()

In [27]:
#Dynamic table :-
#"create table "+file+" ("+"columns_name_with_datatype"+" )"

In [28]:
list(df.columns)

['ShipMode',
 'Segment',
 'Country',
 'City',
 'State',
 'PostalCode',
 'Region',
 'Category',
 'SubCategory',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [29]:
abc = " varchar(100), ". join(list(df.columns))
abc

'ShipMode varchar(100), Segment varchar(100), Country varchar(100), City varchar(100), State varchar(100), PostalCode varchar(100), Region varchar(100), Category varchar(100), SubCategory varchar(100), Sales varchar(100), Quantity varchar(100), Discount varchar(100), Profit'

In [30]:
tb_name="create table if not exists "+file+" ( "+ abc +"  varchar(100))"
tb_name

'create table if not exists SampleSuperstore ( ShipMode varchar(100), Segment varchar(100), Country varchar(100), City varchar(100), State varchar(100), PostalCode varchar(100), Region varchar(100), Category varchar(100), SubCategory varchar(100), Sales varchar(100), Quantity varchar(100), Discount varchar(100), Profit  varchar(100))'

In [31]:
mycursor.execute(tb_name)
print("hello")

hello

In [32]:
#sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
#val = ("John", "Highway 21")

In [33]:
s = "INSERT INTO "+file+  " columns_name"  + "values" + "%s = to no of columns"
s

'INSERT INTO SampleSuperstore columns_namevalues%s = to no of columns'

In [34]:
"s%,"*len(list(df.columns))

's%,s%,s%,s%,s%,s%,s%,s%,s%,s%,s%,s%,s%,'

In [35]:
s = "INSERT INTO "+file+  " columns_name"  + "values" + "%s, "*len(list(df.columns))
s

'INSERT INTO SampleSuperstore columns_namevalues%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, '

In [36]:
s = "INSERT INTO "+file+  " columns_name"  + " values ("+"%s, "*(len(list(df.columns))-1)+"%s )" 
s

'INSERT INTO SampleSuperstore columns_name values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )'

In [37]:
list(df.columns)

['ShipMode',
 'Segment',
 'Country',
 'City',
 'State',
 'PostalCode',
 'Region',
 'Category',
 'SubCategory',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [38]:
len(list(df.columns))

13

In [39]:
", ".join(list(df.columns))

'ShipMode, Segment, Country, City, State, PostalCode, Region, Category, SubCategory, Sales, Quantity, Discount, Profit'

In [40]:
s = "INSERT INTO "+file+ " ("+ ", ".join(list(df.columns)) +" ) values ("+"%s, "*(len(list(df.columns))-1)+"%s )"
s

'INSERT INTO SampleSuperstore (ShipMode, Segment, Country, City, State, PostalCode, Region, Category, SubCategory, Sales, Quantity, Discount, Profit ) values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s )'

In [41]:
#val = ("John", "Highway 21")

In [42]:
df

,ShipMode,Segment,Country,City,State,PostalCode,Region,Category,SubCategory,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,25.2480,3,0.20,4.1028
9990,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,91.9600,2,0.00,15.6332
9991,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,258.5760,2,0.20,19.3932
9992,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,29.6000,4,0.00,13.3200
9993,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,243.1600,2,0.00,72.9480

In [43]:
np.array(df)

array([['Second Class', 'Consumer', 'United States', ..., 2, 0.0,
        41.9136],
       ['Second Class', 'Consumer', 'United States', ..., 3, 0.0,
        219.582],
       ['Second Class', 'Corporate', 'United States', ..., 2, 0.0,
        6.8714],
       ...,
       ['Standard Class', 'Consumer', 'United States', ..., 2, 0.2,
        19.3932],
       ['Standard Class', 'Consumer', 'United States', ..., 4, 0.0,
        13.32],
       ['Second Class', 'Consumer', 'United States', ..., 2, 0.0, 72.948]],
      dtype=object)

In [44]:
v = df.values.tolist()

In [45]:
mycursor.executemany(s , v)

In [46]:
mydb.commit()

In [30]:
mydb.close()