In [1]:
import numpy as np
import pandas as pd

In [2]:
import mysql.connector

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="1234",
  database="abcd"
)
mydb

In [4]:
mycursor = mydb.cursor()

In [5]:
mycursor.execute("create table if not exists my_data ( username varchar  (20) unique , password varchar (15), name varchar (50),mob varchar (20), gmail varchar (50), address varchar (200))")

In [6]:
def signup() :
    while True :
        username=input("enter username :")
        mycursor.execute("select username from my_data")
        b=mycursor.fetchall()
        a=[i[0]  for i in b]
        if username not in b:
                break     
        else :
            print("username already exists \n")
    while True:
            p=input("enter the password :")
            pc=input("enter confirm password :")
            if p==pc:
                 break
            else :
                print("password doesn't match")
    name= input("enter the name :")
    mob= input ("enter mob.no :")
    gmail= input ("enter gmail :")
    address= input ("enter add :")
    s="insert into my_data (username,password,name,mob,gmail,address) values (%s, %s, %s, %s, %s, %s)"
    v=[username,p,name,mob,gmail,address]
    mycursor.execute (s,v)
    mydb.commit()

In [7]:
def lo():
    mycursor.execute("select * from my_data")
    b=mycursor.fetchall()
    name1=input("Enter Name :")
    p1=input("Enter Password :")
    k=0
    for i in b:
        if i[0]==name1 and i[1]==p1:
            print("your name ",i[2])
            print("your Mobile ",i[3])
            print("your Gmail ",i[4])
            print("your Address ",i[5])
            k=1
    if k==0:
            print("User name not found")

In [8]:
while True:
    choose=input("Enter 1 for signup and 2 for Login and 3 for cancel :")
    if choose=="1":
            signup()
    elif choose=="2":
            lo()
    elif choose=="3":
            break
    else:
        print("\nWrong Input")
mydb.commit()
mydb.close()
print("Thanks")

Enter 1 for signup and 2 for Login and 3 for cancel :1
enter username :khalil
enter the password :123
enter confirm password :123
enter the name :khalil
enter mob.no :2013
enter gmail :dfghj
enter add :dfghjk
Enter 1 for signup and 2 for Login and 3 for cancel :3
Thanks

In [ ]:
# data delete
# data display
# data update/modify

In [9]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="1234",
  database="abcd"
)
mydb

In [10]:
mycursor = mydb.cursor()

In [11]:
mycursor.execute("select * from my_data")
for i in mycursor :
    print(i)

('k123', '321', 'kashish', '321456', 'k1@gmail.com', 'kolkata')
('p123', '654', 'ppoi', '654789', 'p2@gmail.com', 'sgsh')
('l123', '654', 'laksh', '789654', 'l3@gmail.com', 'udaipur')
('o1245', 'pas543', 'oplk', '5453545', 'j1@gmail.com', 'kjhgf')
('khalil', '123', 'khalil', '2013', 'dfghj', 'dfghjk')

In [12]:
s="delete from my_data where address='nagaland'"
mycursor.execute(s)e
mydb.commit()

In [27]:
m="update my_data set gmail='j1@gmail.com' where gmail='o9@gmail.com'"
mycursor.execute(m)
mydb.commit()

In [13]:
mycursor.execute("select * from my_data")
for i in mycursor :
    print(i)

('k123', '321', 'kashish', '321456', 'k1@gmail.com', 'kolkata')
('p123', '654', 'ppoi', '654789', 'p2@gmail.com', 'sgsh')
('l123', '654', 'laksh', '789654', 'l3@gmail.com', 'udaipur')
('o1245', 'pas543', 'oplk', '5453545', 'j1@gmail.com', 'kjhgf')
('khalil', '123', 'khalil', '2013', 'dfghj', 'dfghjk')